<!-- VIEW MODE -->
@if(!editMode){
<div class="view">
  <p class="mb-0 summary-text" [class.muted]="!user?.summary">
    {{ user?.summary || "Add a short professional summary." }}
  </p>
</div>
}

<!-- EDIT MODE -->
@if(editMode){
<form [formGroup]="form" (ngSubmit)="save()" class="edit">
  <textarea
    class="form-control custom-input mb-2"
    rows="4"
    formControlName="summary"
  ></textarea>

  <div class="text-end">
    <button
      type="submit"
      class="btn custom-save-btn btn-sm"
      (click)="$event.stopPropagation()"
    >
      Save changes
    </button>
  </div>
</form>
}
