<!-- VIEW MODE -->
<div *ngIf="!editMode">
  <div class="d-flex gap-3 align-items-center">
    <div>
      <h5 class="fw-semibold">{{ user?.fullName }}</h5>
      <p class="text-muted small mb-1">{{ user?.email }}</p>
      <p class="text-muted small mb-1">{{ user?.mobile }}</p>
      <p class="text-muted small">{{ user?.city }}, {{ user?.state }}</p>
    </div>
  </div>
</div>

<!-- EDIT MODE -->
<form *ngIf="editMode" [formGroup]="form" (ngSubmit)="save()" class="edit-form">
  <div class="row g-3">
    <div class="col-md-9">
      <div class="row g-3">
        <!-- FULL NAME -->
        <div class="col-6">
          <input
            class="form-control"
            placeholder="Full name"
            formControlName="fullName"
          />

          <div class="text-danger small" *ngIf="form.get('fullName')?.invalid">
            Full name is required.
          </div>
        </div>

        <!-- EMAIL -->
        <div class="col-6">
          <input
            class="form-control"
            placeholder="Email"
            formControlName="email"
          />

          <div
            class="text-danger small"
            *ngIf="form.get('email')?.errors?.['required']"
          >
            Email is required.
          </div>
          <div
            class="text-danger small"
            *ngIf="form.get('email')?.errors?.['email']"
          >
            Enter a valid email.
          </div>
        </div>

        <!-- MOBILE -->
        <div class="col-4">
          <input
            class="form-control"
            placeholder="Mobile"
            formControlName="mobile"
          />

          <div
            class="text-danger small"
            *ngIf="form.get('mobile')?.errors?.['pattern']"
          >
            Mobile must be 10 digits.
          </div>
        </div>

        <!-- DOB -->
        <div class="col-4">
          <input type="date" class="form-control" formControlName="dob" />

          <div
            class="text-danger small"
            *ngIf="form.get('dob')?.errors?.['invalidDob']"
          >
            DOB must be a past date and age must be 18 or above.
          </div>
        </div>

        <!-- GENDER -->
        <div class="col-4">
          <select class="form-select" formControlName="gender">
            <option value="">Gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>

        <!-- CITY -->
        <div class="col-4">
          <input
            class="form-control"
            placeholder="City"
            formControlName="city"
          />
        </div>

        <!-- STATE -->
        <div class="col-4">
          <input
            class="form-control"
            placeholder="State"
            formControlName="state"
          />
        </div>

        <!-- COUNTRY -->
        <div class="col-4">
          <input
            class="form-control"
            placeholder="Country"
            formControlName="country"
          />
        </div>
      </div>

      <div class="text-end mt-3">
        <button
          type="submit"
          class="btn btn-success btn-sm"
          [disabled]="form.invalid"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</form>
