<!-- VIEW MODE -->
@if(!editMode){
<div class="info-view">
  <div>
    <h5 class="info-name">{{ user?.fullName }}</h5>
    <p class="info-text">{{ user?.email }}</p>
    <p class="info-text">{{ user?.mobile }}</p>
    <p class="info-text">{{ user?.city }}, {{ user?.state }}</p>
  </div>
</div>
}

<!-- EDIT MODE -->
@if(editMode){
<form [formGroup]="form" (ngSubmit)="save()" class="edit-form">
  <div class="row g-3">
    <div class="col-md-9">
      <div class="row g-3">
        <!-- FULL NAME -->
        <div class="col-6">
          <input
            class="form-control custom-input"
            placeholder="Full name"
            formControlName="fullName"
          />
          @if(form.get('fullName')?.invalid){
          <div class="error-text">Full name is required.</div>
          }
        </div>

        <!-- EMAIL -->
        <div class="col-6">
          <input
            class="form-control custom-input"
            placeholder="Email"
            formControlName="email"
          />
          @if(form.get('email')?.errors?.['required']){
          <div class="error-text">Email is required.</div>
          } @if(form.get('email')?.errors?.['email']){
          <div class="error-text" *ngIf="">Enter a valid email.</div>
          }
        </div>

        <!-- MOBILE -->
        <div class="col-4">
          <input
            class="form-control custom-input"
            placeholder="Mobile"
            formControlName="mobile"
          />
          <div
            class="error-text"
            *ngIf="form.get('mobile')?.errors?.['pattern']"
          >
            Mobile must be 10 digits.
          </div>
        </div>

        <!-- DOB -->
        <div class="col-4">
          <input
            type="date"
            class="form-control custom-input"
            formControlName="dob"
          />
          <div
            class="error-text"
            *ngIf="form.get('dob')?.errors?.['invalidDob']"
          >
            DOB must be a past date and age must be 18 or above.
          </div>
        </div>

        <!-- GENDER -->
        <div class="col-4">
          <select class="form-select custom-input" formControlName="gender">
            <option value="">Gender</option>
            <option>Male</option>
            <option>Female</option>
            <option>Other</option>
          </select>
        </div>

        <!-- CITY -->
        <div class="col-4">
          <input
            class="form-control custom-input"
            placeholder="City"
            formControlName="city"
          />
        </div>

        <!-- STATE -->
        <div class="col-4">
          <input
            class="form-control custom-input"
            placeholder="State"
            formControlName="state"
          />
        </div>

        <!-- COUNTRY -->
        <div class="col-4">
          <input
            class="form-control custom-input"
            placeholder="Country"
            formControlName="country"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="text-end mt-3">
    <button
      type="submit"
      class="btn btn-primary custom-save-btn"
      [disabled]="form.invalid"
    >
      Save Changes
    </button>
  </div>
</form>
}
