.section {
  border-radius: 12px;

  .edit-btn {
    background: #eef3ff;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s;

    &:hover { background: #dbe7ff; }
    i { font-size: 18px; color: #0d6efd; }
  }
}
