<!-- VIEW MODE -->
@if(!editMode){
<div class="info-view">
  @if(user?.additional?.languages?.length){
  <p class="info-text">
    <strong>Languages:</strong>
    {{ user?.additional?.languages?.join(", ") }}
  </p>
  } @if(user?.additional?.certifications?.length){
  <p class="info-text">
    <strong>Certifications:</strong>
    {{ user?.additional?.certifications?.join(", ") }}
  </p>
  } @if(user?.additional?.achievements?.length){
  <p class="info-text">
    <strong>Achievements:</strong>
    {{ user?.additional?.achievements?.join(", ") }}
  </p>
  } @if(!user?.additional || (!user?.additional?.languages?.length &&
  !user?.additional?.certifications?.length &&
  !user?.additional?.achievements?.length)){

  <p class="info-text">No extra details added</p>
  }
</div>
}
<!-- EDIT MODE -->
@if(editMode){
<form [formGroup]="form" (ngSubmit)="save()" class="edit-form">
  <!-- LANGUAGES -->
  <div class="mb-2">
    <label class="field-label">Languages (comma separated)</label>
    <input
      class="form-control custom-input"
      formControlName="languages"
      placeholder="English, Hindi, French"
    />
    @if(form.get('languages')?.touched && form.get('languages')?.errors){
    <div class="error-text">Only letters and commas allowed.</div>
    }
  </div>

  <!-- CERTIFICATIONS -->
  <div class="mb-2">
    <label class="field-label">Certifications (comma separated)</label>
    <input
      class="form-control custom-input"
      formControlName="certifications"
      placeholder="AWS, Azure, GCP"
    />
    @if(form.get('certifications')?.touched &&
    form.get('certifications')?.errors){
    <div class="error-text">
      Each certification must be at least 3 characters.
    </div>
    }
  </div>

  <!-- ACHIEVEMENTS -->
  <div class="mb-2">
    <label class="field-label">Achievements (comma separated)</label>
    <input
      class="form-control custom-input"
      formControlName="achievements"
      placeholder="Hackathon winner, Employee of the month"
    />
    @if(form.get('achievements')?.touched && form.get('achievements')?.errors){
    <div class="error-text">
      Each achievement must be at least 3 characters.
    </div>
    }
  </div>

  <!-- ACTION -->
  <div class="text-end mt-3">
    <button
      type="submit"
      class="btn custom-save-btn"
      [disabled]="form.invalid"
      (click)="$event.stopPropagation()"
    >
      Save Changes
    </button>
  </div>
</form>
}
