<div class="container-fluid">
  <div class="row login-row">
    <!-- LEFT SIDE (Image Panel) -->
    <div
      class="col-lg-6 col-12 d-flex justify-content-center align-items-center gradient-bg"
    >
      <img src="/assets/Auth-img.png" class="img-fluid auth-illustration" />
    </div>

    <!-- RIGHT SIDE (Form Panel - Content Slot) -->
    <div
      class="col-lg-6 col-12 d-flex justify-content-center align-items-center p-5 form-side"
    >
      <ng-content></ng-content>
    </div>
  </div>
</div>
