<!-- VIEW MODE -->
<div *ngIf="!editMode" class="info-view">
  <div *ngFor="let p of user?.projects || []" class="mb-3">
    <h6 class="info-name">{{ p.title }}</h6>

    <p class="info-text">
      <small>Tech: {{ p.tech }}</small>
    </p>

    <p class="info-text">{{ p.description }}</p>

    <a
      *ngIf="p.url"
      [href]="p.url"
      target="_blank"
      class="project-link"
    >
      {{ p.url }}
    </a>
  </div>

  <p *ngIf="!(user?.projects?.length)" class="info-text">
    No projects added
  </p>
</div>

<!-- EDIT MODE -->
<form
  *ngIf="editMode"
  [formGroup]="form"
  (ngSubmit)="save()"
  class="edit-form"
>
  <div formArrayName="projects">
    <div
      *ngFor="let fg of projects.controls; let i = index"
      [formGroupName]="i"
      class="project-card p-2 mb-2"
    >
      <!-- TITLE -->
      <input
        class="form-control custom-input mb-1"
        placeholder="Project title"
        formControlName="title"
      />
      <div
        class="error-text"
        *ngIf="fg.get('title')?.touched && fg.get('title')?.errors"
      >
        Title is required (min 3 characters).
      </div>

      <!-- TECH -->
      <input
        class="form-control custom-input mb-1"
        placeholder="Technologies"
        formControlName="tech"
      />
      <div
        class="error-text"
        *ngIf="fg.get('tech')?.touched && fg.get('tech')?.errors"
      >
        Enter tech stack (min 2 characters).
      </div>

      <!-- URL -->
      <input
        class="form-control custom-input mb-1"
        placeholder="Project URL"
        formControlName="url"
      />
      <div
        class="error-text"
        *ngIf="fg.get('url')?.touched && fg.get('url')?.errors"
      >
        Enter a valid URL.
      </div>

      <!-- DESCRIPTION -->
      <textarea
        class="form-control custom-input mb-1"
        rows="3"
        placeholder="Description"
        formControlName="description"
      ></textarea>
      <div
        class="error-text"
        *ngIf="
          fg.get('description')?.touched &&
          fg.get('description')?.errors
        "
      >
        Description is required (min 10 characters).
      </div>

      <!-- REMOVE -->
      <div class="text-end">
        <button
          type="button"
          class="btn btn-sm custom-remove-btn"
          (click)="remove(i)"
        >
          Remove
        </button>
      </div>
    </div>
  </div>

  <!-- ACTIONS -->
  <div class="d-flex justify-content-between mt-3">
    <button
      type="button"
      class="btn btn-sm custom-add-btn"
      (click)="add()"
    >
      + Add Project
    </button>

    <button
      type="submit"
      class="btn custom-save-btn"
      [disabled]="form.invalid"
    >
      Save Changes
    </button>
  </div>
</form>
